#PROJECT01 {
    clip-path: polygon(100% 56%, 90% 75%, 96% 90%, 65% 100%, 0 100%, 0 0, 100% 0);
    -webkit-clip-path: polygon(100% 56%, 90% 75%, 96% 90%, 65% 100%, 0 100%, 0 0, 100% 0);
    background: rgb(208, 122, 122);
}

#PROJECT02 {
    clip-path: polygon(35% 100%, 17% 100%, 0 100%, 0 0, 79% 0, 90% 13%, 100% 0, 100% 100%); -webkit-clip-path: polygon(35% 100%, 17% 100%, 0 100%, 0 0, 79% 0, 90% 13%, 100% 0, 100% 100%);
    background: rgb(96, 169, 96);
}

#PROJECT03 {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 11% 76%, 0 53%, 0 0); 
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 11% 76%, 0 53%, 0 0);
    background: rgb(198, 147, 198)
}

#PROJECT04 {
    clip-path: polygon(0 100%, 0 0, 90% 0, 87% 11%, 97% 15%, 94% 29%, 100% 43%, 100% 100%); -webkit-clip-path: polygon(0 100%, 0 0, 90% 0, 87% 11%, 97% 15%, 94% 29%, 100% 43%, 100% 100%);
    background: rgb(235, 235, 148)
}

#PROJECT05 {
    clip-path: polygon(35% 100%, 17% 100%, 0 73%, 0 0, 79% 0, 90% 13%, 100% 0, 100% 100%);-webkit-clip-path: polygon(35% 100%, 17% 100%, 0 73%, 0 0, 79% 0, 90% 13%, 100% 0, 100% 100%);
    background:  rgb(150, 203, 223);
}

#PROJECT06 {
    clip-path:polygon(50% 0%, 100% 0, 100% 77%, 72% 100%, 49% 83%, 31% 100%, 15% 100%, 8% 100%, 0 100%, 0 0);
    -webkit-clip-path:polygon(50% 0%, 100% 0, 100% 77%, 72% 100%, 49% 83%, 31% 100%, 15% 100%, 8% 100%, 0 100%, 0 0);
    background: rgb(202, 169, 107)
}

#PROJECT07 {
    clip-path: polygon(100% 100%, 92% 88%, 85% 65%, 79% 89%, 71% 79%, 60% 100%, 0 100%, 0 0, 100% 0);-webkit-clip-path:polygon(100% 100%, 92% 88%, 85% 65%, 79% 89%, 71% 79%, 60% 100%, 0 100%, 0 0, 100% 0); 
    background: rgb(157, 119, 206)
    
}

#PROJECT08 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 60%);  
    -webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 60%);
    background: rgb(101, 118, 174)
}

#PROJECT09 {
    clip-path: polygon(100% 100%, 57% 100%, 31% 100%, 21% 75%, 14% 91%, 8% 84%, 0 100%, 0 0, 100% 0);
    -webkit-clip-path:polygon(100% 100%, 57% 100%, 31% 100%, 21% 75%, 14% 91%, 8% 84%, 0 100%, 0 0, 100% 0); 
    background: rgb(237, 135, 89)
}

#PROJECT10 {
    clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);-webkit-clip-path:polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
    background: rgb(182, 178, 178)
}

#PROJECT11 {
    clip-path: polygon(100% 44%, 91% 56%, 94% 77%, 82% 79%, 88% 100%, 0 100%, 0 0, 100% 0);-webkit-clip-path:polygon(100% 44%, 91% 56%, 94% 77%, 82% 79%, 88% 100%, 0 100%, 0 0, 100% 0);
    background: rgb(177, 152, 68)
}

#PROJECT12 {
    clip-path: polygon(100% 100%, 92% 88%, 85% 65%, 79% 89%, 71% 79%, 60% 100%, 0 100%, 0 0, 100% 0);-webkit-clip-path:polygon(100% 100%, 92% 88%, 85% 65%, 79% 89%, 71% 79%, 60% 100%, 0 100%, 0 0, 100% 0);
    background: teal
}

#PROJECT13 {
    clip-path: polygon(100% 61%, 98% 80%, 90% 100%, 65% 100%, 0 100%, 9% 79%, 0 59%, 0 0, 100% 0);-webkit-clip-path:polygon(100% 61%, 98% 80%, 90% 100%, 65% 100%, 0 100%, 9% 79%, 0 59%, 0 0, 100% 0);
    background: rgb(135, 102, 159);
}

#PROJECT14 {
    clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);-webkit-clip-path:polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
    background: rgb(225, 222, 140)
}

#PROJECT15 {
    clip-path: polygon(100% 0, 100% 76%, 93% 100%, 0 100%, 4% 89%, 0 73%, 0 55%, 0 34%, 0 0);-webkit-clip-path:polygon(100% 0, 100% 76%, 93% 100%, 0 100%, 4% 89%, 0 73%, 0 55%, 0 34%, 0 0);
    background: rgb(162, 214, 209)
}

#PROJECT16 {
    clip-path: polygon(100% 0, 100% 76%, 93% 100%, 0 100%, 0 29%, 0 0, 8% 0, 16% 12%, 26% 0); -webkit-clip-path:polygon(100% 0, 100% 76%, 93% 100%, 0 100%, 0 29%, 0 0, 8% 0, 16% 12%, 26% 0);
    background: rgb(203, 156, 139)
}

#PROJECT17 {
    clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
    -webkit-clip-path:polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
    background: plum
}

#PROJECT18 {
    clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);-webkit-clip-path:polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
    background: rgb(129, 163, 186)
}
#PROJECT19 {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 11% 76%, 0 53%, 0 0); 
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 11% 76%, 0 53%, 0 0);
    background: rgb(118, 167, 118)
}

#PROJECT20 {
    clip-path: polygon(0 100%, 0 0, 90% 0, 87% 11%, 97% 15%, 94% 29%, 100% 43%, 100% 100%); -webkit-clip-path: polygon(0 100%, 0 0, 90% 0, 87% 11%, 97% 15%, 94% 29%, 100% 43%, 100% 100%);
    background: darkkhaki
}

